.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 4rem;
    min-height: 69.5vh;
}

.container .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f16d71;
    width: 90%;
    height: 40rem;
    border-radius: 1rem;
    position: relative;
}

.card .card--back--img {
    display: inline-block;
    height: 12rem;
    width: 100%;
    background-image: url('../assets/pokemonbackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1rem 1rem 0 0 ;
}

.card .card--main--img {
    position: absolute;
    width: 16rem;
    height: 16rem;
    background-color: #1d2951;
    border: .4rem solid white;
    border-radius: 25rem;
    top: 2rem;
}

.card .card--pokemonname {
    font-size: 1.8rem;
    margin-top: 7rem;
    display: inline-block;
}
.card .card--experience {
    font-size: 1.6rem;
    display: inline-block;
    color: #1d2951;
}

.card--pokemon-detail {
    margin-top: 1rem;
    padding-top: 2rem;
    height: 15rem;
    width: 30rem;
    display: flex;
    justify-content: space-around;
    font-size: 1.6rem;
    background-color: #1d2951;
    border-radius: 2rem;
}

.card--pokemon-detail div h4 {
    color: #CAD2C5;
}

.card--pokemon-detail div p {
    color: #f16d71;
}

 @media (min-width: 700px) {
    .container .card {
        width: 70rem;
    }

    .card--pokemon-detail {
        margin-top: 1rem;
        padding-top: 2rem;
        height: 15rem;
        width: 50rem;
      
    }

  }  